<div class="row hotel_amenities" id="amenities-{{hotel.id}}">
  <div class="large-10 columns large-centered">
    <ul class="hotel_features">
      <li class="feature_wifi">
          WiFi
      </li><li class="feature_parking">
          Parking
      </li><li class="feature_restaurant">
          Restaurant
      </li><li class="feature_pool">
          Pool
      </li><li class="feature_spa">
          Spa
      </li><li class="feature_gym">
          Gym
      </li><li class="feature_room-service">
          Room service
      </li><li class="feature_bar">
          Bar
      </li><li class="feature_non-smoking-rooms">
          Non-smoking rooms
      </li><li class="feature_family-friendly">
          Family friendly
      </li><li class="feature_24-hour-reception">
          24 hour reception
      </li><li class="feature_pet-friendly">
          Pet friendly
      </li><li class="feature_childcare-available">
          Childcare available
      </li><li class="feature_airport-shuttle">
          Airport shuttle
      </li><li class="feature_boutique">
          Boutique
      </li><li class="feature_baby-cot">
          Baby cot
      </li><li class="feature_free-internet-access">
          Free Internet access
      </li><li class="feature_internet-access">
          Internet access
      </li><li class="feature_steam">
          Steam room
      </li><li class="feature_sauna">
          Sauna
      </li><li class="feature_business-centre">
          Business centre
      </li><li class="feature_wheelchair-friendly">
          Wheelchair friendly
      </li><li class="feature_elevator">
          Elevator
      </li><li class="feature_gay-friendly">
          Gay friendly
      </li><li class="feature_laundry-service">
          Laundry service
      </li><li class="feature_meeting-rooms">
          Meeting rooms
      </li><li class="feature_onsite-doctor">
          Doctor on call
      </li>
    </ul>
  </div>        
</div>




