<div class="row hotel" id="hotel-{{hotel.id}}" ng-repeat="hotel in hotels">
  <div class="large-12 columns">
    <div class="row">
      <div class="large-3 columns small-3">
        <span class="img_overlay" data-slide-toggle="#hotel-photos-{{hotel.id}}">
          <img ng-src="{{hotel.main_image}}" height='138' width='138' class='img'>
        </span>
      </div>
      <div class="large-6 columns">
        <h6>{{hotel.name}} - {{hotel.providers.length}}</h6> 
        <ul class="hotel_rating stars{{hotel.star_rating}}">
          <li class="one"><a href="#" title="1 Star">1</a></li>
          <li class="two"><a href="#" title="2 Stars">2</a></li>
          <li class="three"><a href="#" title="3 Stars">3</a></li>
          <li class="four"><a href="#" title="4 Stars">4</a></li>
          <li class="five"><a href="#" title="5 Stars">5</a></li>
        </ul>

        <ul class="hotel_prices">
          <li class="single_price price"><em>Expedia</em><strong>{{hotel.providers[0].min_price}}</strong></li>
          <li class="single_price price even"><em>Booking.com</em><strong>N/A</strong></li>
          <li class="single_price price"><em>Agoda.com</em><strong>N/A</strong></li>
          <li class="single_price price even"><em>Lastminute.com</em><strong>N/A</strong></li>
        </ul>
      <ul class="item_nav">
        <li class="rating val_5 c_button standard">
          <strong>{{hotel.rating}}</strong>
          <span class="img_sprite_moon rating_smiley rating5"><!-- --></span>
        </li>
        <li class="distance map c_button standard" data-map="map-{{hotel.id}}"><strong>{{hotel.distance}}</strong><span>miles</span></li>
        <li class="info c_button standard" data-slide-toggle="#amenities-{{hotel.id}}">
          <span class="img_sprite_moon hotel_info"><!-- --></span>
          <span>Info</span>
        </li>
        <li class="available_on deals c_button standard all_prices" data-retrieve-rooms="{{hotel.id}}" data-container="#rooms-{{hotel.id}}" data-url="http://path_to_show_hotel_rooms">
          <span class="c_label">See all <i>{{hotel.providers[0].room_count}} deals</i></span><span class="img_sprite_moon arrow arrow_down"></span>
        </li>
      </ul>
      </div>
      <div  class="threecol last main_price reduced">
        <span class="saving_35"><!----></span>
        <strong class="partner_name ">Expedia.com</strong>
        <div class="price_max">
          <span class="wrapper"><span class="price"><del>{{hotel.providers[0].max_price}}</del></span></span>
        </div>
        <strong class="price_min">{{hotel.providers[0].min_price}}</strong>
        <div class="c_button deal" type="button">
          <a href="{{hotel.deepLink}}"  alt="Book now at {{hotel.name}}" target='_blank'>
            <span class="label">View Deal</span>
            <span class="img_sprite_moon arrow arrow_right"></span>
          </a>
        </div>
      </div>
    </div>
    <%= render template: 'templates/hotels/photos' %> 
    <%= render template: 'templates/hotels/map' %> 
    <%= render template: 'templates/hotels/amenities' %> 

    <div class="hotel_rooms"  id="rooms-{{hotel.id}}">
      <div class="preloader">
        <%= image_tag 'preloader.gif' %>
      </div>
    </div>
  </div>
</div>
