<div class="row">
    <div id="sidebar" class="col-md-3 col-xs-12">
        <div class="hidden-sm hidden-xs">
            <h4>{{Page.info().available_hotels}} Hotels available</h4>
            <div class="map">
                Map
            </div>
        </div>
        <div id="refine">
            <div class="contents">
                <div class="toggle">
                    <div class="closed">
                        <i class="fa fa-caret-left"></i> Refine
                    </div>
                    <div class="open">
                        <i class="fa fa-times"></i>
                    </div>
                </div>
                <div class="controls">
                    <h4>Refine Results</h4>
                    <div class="filters">
                        <h5>Price Per Night</h5>
                        <div class="price-range">
                          <input type="text" id="priceSlider" name="priceRange" value="10;300"/>
                        </div>
                        <h5>Star Rating</h5>
                        <div class="star-rating">
                            <ul>
                                <li>
                                    <label>
                                        <input type="checkbox" ng-click="filterStarRatings(5)"/>&nbsp;
                                        <span>5 star</span>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox" ng-click="filterStarRatings(4)"/>&nbsp;
                                        <span>4 star</span>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox" ng-click="filterStarRatings(3)"/>&nbsp;
                                        <span>3 star</span>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox" ng-click="filterStarRatings(2)"/>&nbsp;
                                        <span>2 star</span>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox" ng-click="filterStarRatings(1)"/>&nbsp;
                                        <span>1 star</span>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </label>
                                </li>
                            </ul>
                        </div>
                        <h5>Features</h5>
                        <div class="features">
                            <ul>
                                <li>
                                    <label>
                                        <input type="checkbox" ng-click="filterAmenities('wifi')"/>&nbsp;
                                        WiFi
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox" ng-click="filterAmenities('central-location')"/>&nbsp;
                                        Central Location
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox" ng-click="filterAmenities('family-friendly')"/>&nbsp;
                                        Family Friendly
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox" ng-click="filterAmenities('parking')"/>&nbsp;
                                        Parking
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox" ng-click="filterAmenities('gym')"/>&nbsp;
                                        Gym
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox" ng-click="filterAmenities('boutique')"/>&nbsp;
                                        Boutique
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="results" class="col-md-9 col-xs-12">
        <!-- <div class="loader">
            <div class="message">
               <i class="fa fa-gear fa-spin"></i> Getting hotel prices... 
            </div>
            <div class="progress progress-striped active">
                <div class="progress-bar"></div>
            </div>
        </div> -->
        <!-- <div class="overlay">&nbsp;</div> -->

        <div class="sort">
            <ul class="hidden-md hidden-sm hidden-xs">
                <li class="title">Sort By <i class="fa fa-caret-right"></i></li>
                <li ng-class="{active: isSort('recommended')}"><a ng-click="sort('recommended')" href="#">Recommended</a></li>
                <li ng-class="{active: isSort('price')}"><a ng-click="sort('price')" href="#">Price <i class="fa fa-caret-up"></i></a></li>
                <li ng-class="{active: isSort('price_reverse')}"><a ng-click="sort('price_reverse')" href="#">Price <i class="fa fa-caret-down"></i></a></li>
                <li ng-class="{active: isSort('rating')}"><a ng-click="sort('rating')" href="#">Star Rating</a></li>
                <li ng-class="{active: isSort('user')}"><a ng-click="sort('user')" href="#">User Rating</a></li>
                <li ng-class="{active: isSort('distance')}"><a ng-click="sort('distance')" href="#">Distance</a></li>
            </ul>
            <div class="dropdown hidden-lg">
                <label for="sortby" class="title">Sort By <i class="fa fa-caret-right"></i></label>
                <div class="select">
                    <select id="sortby">
                        <option>Recommended</option>
                        <option>Price (Low to High)</option>
                        <option>Price (High to Low)</option>
                        <option>Star Rating</option>
                        <option>User Rating</option>
                        <option>Distance</option>
                    </select>
                </div>
            </div>
        </div>
        <div ng-view id="hotel-results" > 
        </div>        
    </div>
</div>