<div class="large-3 small-12 columns">
  <h6>{{Page.info().available_hotels}} out of {{Page.info().total_hotels}} hotels available</h6>
  <div class="map">
    <!-- <iframe src="http://mapsengine.google.com/map/embed?mid=zNb056NZgT9E.kcdAgwzehKwM" width="640" height="480"></iframe> -->
    <div class="viewonmap">
      <p><a href="#">View hotels on map</a></p>
    </div>
  </div>
  <h6>Refine results</h6>
  <div class="refine">
    <div class="refine-inner">
      <form id="refine" action="">

        <p>PRICE PER NIGHT</p>
        <input type="text" id="priceSlider" name="priceRange" value="10;300"/>
       

        <p>STAR RATING</p>
        <div class="stars">
          <p><input type="checkbox" name="5stars" id="5stars"> <label for="5stars" class="fivestar">5-star</label><br />
          <input type="checkbox" name="4stars" id="4stars"> <label for="4stars" class="fourstar">4-star</label><br />
          <input type="checkbox" name="3stars" id="3stars"> <label for="3stars" class="threestar">3-star</label><br />
          <input type="checkbox" name="2stars" id="2stars"> <label for="2stars" class="twostar">2-star</label><br />
          <input type="checkbox" name="1stars" id="1stars"> <label for="1stars" class="onestar">1-star</label></p>
        </div>
        <p>FEATURES</p>
        <p>
          <input type="checkbox" name="wifi" id="wifi" ng-click="filterAmenities('wifi')"> 
            <label for="wifi">Wifi</label><br />
          <input type="checkbox" name="central" id="central-location" ng-click="filterAmenities('central-location')"> 
            <label for="central">Central Location</label><br />
          <input type="checkbox" name="family" id="family" ng-click="filterAmenities('family-friendly')"> 
            <label for="family">Family Friendly</label><br />
          <input type="checkbox" name="parking" id="parking" ng-click="filterAmenities('parking')"> 
            <label for="parking">Parking</label><br />
          <input type="checkbox" name="gym" id="gym" ng-click="filterAmenities('gym')"> 
            <label for="gym">Gym</label><br />
          <input type="checkbox" name="boutique" id="boutique" ng-click="filterAmenities('boutique')"> 
            <label for="boutique">Boutique</label><br />
          <input type="checkbox" name="smoking" id="smoking" ng-click="filterAmenities('smoking')"> 
            <label for="smoking">Non-smoking rooms</label><br />
          <input type="checkbox" name="pet" id="pet-friendly" ng-click="filterAmenities('pet-friendly')"> 
            <label for="pet">Pet Friendly</label><br />
          <input type="checkbox" name="pool" id="pool" ng-click="filterAmenities('pool')"> 
            <label for="pool">Pool</label><br />
          <input type="checkbox" name="restaurant" id="restaurant"  ng-click="filterAmenities('restaurant')"> 
            <label for="restaurant">Restaurant</label><br />
          <input type="checkbox" name="spa" id="spa" ng-click="filterAmenities('spa')"> 
            <label for="spa">Spa</label>
      </p>
      </form>
    </div>
  </div>
  <a href="#" id="pull">Refine</a>
</div>