<div class="row">
    <div id="sidebar" class="col-md-3 col-xs-12">
        <div class="hidden-sm hidden-xs">
            <h4>{{Page.info.available_hotels}} Hotels available</h4>
            <div class="map">
                Map
            </div>
        </div>
        <div id="refine">
            <div class="contents">
                <div class="toggle">
                    <div class="closed">
                        <i class="fa fa-caret-left"></i> Refine
                    </div>
                    <div class="open">
                        <i class="fa fa-times"></i>
                    </div>
                </div>
                <div class="controls">
                    <h4>Refine Results</h4>
                    <div class="filters">
                        <h5>Price Per Night</h5>
                        <div class="price-range">
                          <input type="text" id="priceSlider" name="priceRange" value="30;300"/>
                        </div>
                        <h5>Star Rating</h5>
                        <div class="star-rating">
                            <ul>
                                <li>
                                    <label>
                                        <input type="checkbox" ng-click="filterStarRatings(5)" ng-checked="containsStarRating('5')"/>&nbsp;
                                        <span>5 star</span>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox" ng-click="filterStarRatings(4)"  ng-checked="containsStarRating('4')"/>&nbsp;
                                        <span>4 star</span>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox" ng-click="filterStarRatings(3)"  ng-checked="containsStarRating('3')"/>&nbsp;
                                        <span>3 star</span>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox" ng-click="filterStarRatings(2)"/>&nbsp;
                                        <span>2 star</span>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox" ng-click="filterStarRatings(1)"/>&nbsp;
                                        <span>1 star</span>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </label>
                                </li>
                            </ul>
                        </div>
                        <h5>Features</h5>
                        <div class="features">
                            <ul>
                                <li>
                                    <label>
                                        <input type="checkbox" ng-click="filterAmenities('wifi')"/>&nbsp;
                                        WiFi
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox" ng-click="filterAmenities('central-location')"/>&nbsp;
                                        Central Location
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox" ng-click="filterAmenities('family-friendly')"/>&nbsp;
                                        Family Friendly
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox" ng-click="filterAmenities('parking')"/>&nbsp;
                                        Parking
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox" ng-click="filterAmenities('gym')"/>&nbsp;
                                        Gym
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox" ng-click="filterAmenities('boutique')"/>&nbsp;
                                        Boutique
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <div ng-view id="hotel-results" > 
        </div>        
</div>