<header>
  <div class="row">
    <div class="large-2 small-12 columns text-center">
        <a href="/" target="_self">
          <%= image_tag "masthead/hot5-logo-simple.gif", width: 140, height: 64, alt: "Hot5" %>
        </a>
    </div>
    <div class="large-8 small-12 columns text-center">
      <form id="search" ng-submit="search()">
        <div class="large-4 small-12 columns text center">
          <input id="search-input" type="text" name="q" value="" autocomplete="off"/>
        </div>
        <div class="large-3 small-12 columns">
          <input type="text" id="start_date" placeholder="Check in..." class="date-icon" calendar tabindex="2" ng-model="Page.criteria.start_date"/>
        </div>
        <div class="large-3 small-12 columns">
          <input type="text" id="end_date" placeholder="Check out..." class="date-icon" tabindex="3" ng-model="Page.criteria.end_date" calendar />
        </div>
        <div class="large-2 small-12 columns">
          <input type="submit" name="searchbutton" id="searchbutton" value="Search" tabindex="4">
        </div>
      </form>
    </div>
    <div class="large-2 small-12 columns text-center">
      <ul class="social">
        <li class="pinterest">
          <a href="#">
            <%= image_tag "masthead/pinterest-icon.gif", width: 36, height: 36, alt: "Pinterest" %>
          </a>
        </li>
        <li class="instagram">
          <a href="#">
            <%= image_tag "masthead/instagram-icon.gif", width: 36, height: 36, alt: "Instagram" %>
          </a>
        </li>
        <li class="facebook">
          <a href="#">
            <%= image_tag "masthead/facebook-icon.gif", width: 36, height: 36, alt: "Facebook" %>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>