<div class="subnav_top">
  <ul class="nav nav-pills">
    <li id="menu_locale" class="dropdown">
      <em id="js_locale_currency_selector" data-toggle="dropdown" class="dropdown-toggle">
        <span class="img_sprite_moon arrow"></span>
        <span class="flag_sprite uk"></span>£
      </em>
      <div class="dropdown-menu" id="js_toolbar_localization">
        <div class="locale-box">
          <div>
            <ul class="dd-currency">
              <li class="label">Currency</li>
              <li class="link js_cAjax" data-currency="EUR">€ (EUR)</li>
              <li class="link js_cAjax" data-currency="GBP">£ (GBP)</li>
              <li class="link js_cAjax" data-currency="USD">$ (USD)</li>
              <li class="divider"></li>
              <li class="link js_cAjax" data-currency="AED">د. (AED)</li>
              <li class="link js_cAjax2" data-currency="AUD">$ (ARS)</li>
              <li class="link js_cAjax" data-currency="AUD">AU$ (AUD)</li>
              <li class="link js_cAjax" data-currency="BGN">лв (BGN)</li>
              <li class="link js_cAjax" data-currency="BRL">R$ (BRL)</li>
              <li class="link js_cAjax" data-currency="CAD">C$ (CAD)</li>
            </ul>
          </div>
          <ul class="dd-currency">
            <li class="link js_cAjax" data-currency="CHF">CHF (CHF)</li>
            <li class="link js_cAjax" data-currency="CLP">$ (CLP)</li>
            <li class="link js_cAjax" data-currency="CNY">¥ (CNY)</li>
            <li class="link js_cAjax" data-currency="COP">$ (COP)</li>
            <li class="link js_cAjax" data-currency="CZK">Kč (CZK)</li>
            <li class="link js_cAjax" data-currency="DKK">kr (DKK)</li>
            <li class="link js_cAjax" data-currency="DZD">DZD (DZD)</li>
            <li class="link js_cAjax" data-currency="EGP">EGP (EGP)</li>
            <li class="link js_cAjax" data-currency="HKD">$ (HKD)</li>
            <li class="link js_cAjax" data-currency="HRK">HRK (HRK)</li>
            <li class="link js_cAjax" data-currency="HUF">Ft (HUF)</li>
            <li class="link js_cAjax" data-currency="INR">Rs. (INR)</li>
            <li class="link js_cAjax" data-currency="JPY">円 (JPY)</li>
            <li class="link js_cAjax" data-currency="KRW">₩ (KRW)</li>
            <li class="link js_cAjax" data-currency="MAD">MAD (MAD)</li>
            <li class="link js_cAjax" data-currency="MXN">$ (MXN)</li>
            <li class="link js_cAjax" data-currency="MYR">RM (MYR)</li>
            <li class="link js_cAjax" data-currency="NOK"> kr (NOK)</li>
            <li class="link js_cAjax" data-currency="NZD">NZ$ (NZD)</li>
            <li class="link js_cAjax" data-currency="PEN">PEN (PEN)</li>
            <li class="link js_cAjax" data-currency="PLN">PLN (PLN)</li>
            <li class="link js_cAjax" data-currency="RON">RON (RON)</li>
            <li class="link js_cAjax" data-currency="RSD">RSD (RSD)</li>
            <li class="link js_cAjax" data-currency="RUB">руб (RUB)</li>
            <li class="link js_cAjax" data-currency="SAR">SAR (SAR)</li>
            <li class="link js_cAjax" data-currency="SEK">kr (SEK)</li>
            <li class="link js_cAjax" data-currency="SGD">$ (SGD)</li>
            <li class="link js_cAjax" data-currency="THB">฿ (THB)</li>
            <li class="link js_cAjax" data-currency="TND">TND (TND)</li>
            <li class="link js_cAjax" data-currency="TRY">TL (TRY)</li>
            <li class="link js_cAjax" data-currency="ZAR">R (ZAR)</li>
          </ul>
        </div>
      </div>
    </li>
  </ul>
</div>