<div class="row">
  <div class="large-12 columns "> 
    <div class="span6"><h3 id="hotels-available"><strong>{{available_hotels}}</strong> of <strong>{{total_hotels}}</strong> hotels available:</h3></div>
    <div id="js_itemlistcontrol" class="itemlistcontrol collapsed clear">
      <div class="thirteencol">
        <div class="sbHolder" style="z-index: 1000;">
          <span class="sbToggleBase"><a href="#" class="sbToggle"></a></span>
          <a href="#" class="sbSelector">Sort by <span class="sort_criterion"><%= sort_options[current_sort] %></span></a>
          <ul id="js_itemlistcontrol_sort" class="order_by sbOptions" data-sort="relevance desc" style="display: none;">
            <% sort_options.each_pair do |key, val| %>
              <%= sort_option key, val %>
            <% end %>
          </ul>
        </div>      
      </div>
    </div>
  </div>
</div>