<div class="autocomplete" style="display: none;">
    <div class="results">
        <div class="panel panel-default">
        <div class="panel-heading"><i class="fa fa-map-marker"></i> Locations</div>
            <ul class="list-group">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>
        <div class="panel panel-default">
        <div class="panel-heading">
          <i class="fa fa-building-o"></i> Hotels
        </div>
            <ul class="list-group">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
            </ul>
        </div>
    </div>
</div>

<ul id="soulmate" style="display: block;">
  <li class="soulmate-type-container">
    <ul class="soulmate-type-suggestions">
      <li id="0-soulmate-suggestion" class="soulmate-suggestion">Teshi, Ghana</li>
      <li id="1-soulmate-suggestion" class="soulmate-suggestion">Teslić, Bosnia and Herzegovina</li>
      <li id="2-soulmate-suggestion" class="soulmate-suggestion">Tesano, Ghana</li>
      <li id="3-soulmate-suggestion" class="soulmate-suggestion focus">Tesimo, Trentino Alto Adige, Italy</li>
      <li id="4-soulmate-suggestion" class="soulmate-suggestion">Tesero, Trentino Alto Adige, Italy</li>
    </ul>
    <div class="soulmate-type">location</div>
  </li>
  <li class="soulmate-type-container">
    <ul class="soulmate-type-suggestions">
      <li id="10-soulmate-suggestion" class="soulmate-suggestion">Colonna Grand Hotel Capo Testa, Santa Teresa Gallura, Italy</li>
      <li id="11-soulmate-suggestion" class="soulmate-suggestion">Dual Sell PDP-LOS Test Hotel, Region Test, U.S.A.</li>
      <li id="12-soulmate-suggestion" class="soulmate-suggestion">Dual Net PPP Test Hotel, Region Test, U.S.A.</li>
      <li id="13-soulmate-suggestion" class="soulmate-suggestion">Dual Net OBP Test Hotel - 1, Region Test, U.S.A.</li>
      <li id="14-soulmate-suggestion" class="soulmate-suggestion">Dual Net OBP Test Hotel, Region Test, U.S.A.</li>
    </ul>
    <div class="soulmate-type">hotel</div>
  </li>
</ul>