<section ng-repeat="hotel in search_results.hotels" >
    <div class="image" ng-style="hotel.images[0].url != '' && {'background-image':'url('+hotel.images[0].url+')'}">
        <div class="savings" ng-show="saving(hotel)">
            Save {{saving(hotel)}}%
        </div>
        <div class="view" onclick="return app.tabSelect(this, 'gallery')">
            <i class="fa fa-picture-o"></i>
        </div>
    </div>
    <div class="details">
        <h4>{{hotel.name}}</h4>
        <div class="location">
            <i class="fa fa-map-marker"></i> {{hotel.address}}, {{hotel.city}}
        </div>
        <div class="stars">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-empty"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
        </div>
        <ul class="deals">
            <li>
              <a ng-href="{{findProvider(hotel, 'expedia').link}}" target="_blank">
                <span class="name">
                  Expedia.co.uk
                </span>
                <div class="price">
                  {{findProvider(hotel, 'expedia').min_price | price:currency_symbol:0 }}
                </div>
              </a>
            </li>    
            <li>
              <a ng-href="{{findProvider(hotel, 'booking').link}}" target="_blank">
                <span class="name">
                  Booking.com 
                </span>
                <div class="price">
                  {{findProvider(hotel, 'booking').min_price | price:currency_symbol:0 }}
                </div>
              </a>
            </li>                     
            <li>
              <a ng-href="{{findProvider(hotel, 'easy_to_book').link}}" target="_blank">
                <span class="name">
                  EasyToBook.com 
                </span>
                <div class="price">
                  {{findProvider(hotel, 'easy_to_book').min_price | price:currency_symbol:0 }}
                </div>
              </a>
            </li>          
            <li>
                <span class="name">
                    Hotels.com
                </span>
                <div class="price">
                    N/A
                </div>
            </li>
        </ul>
        <a href="#" class="all-deals" onclick="return app.tabSelect(this, 'all-deals')">
            See all deals <i class="fa fa-caret-right"></i>
        </a>
        <ul class="tabs">
            <li class="tab-details"> 
                <a href="#" onclick="return app.tabSelect(this, 'details')">
                    <i class="fa fa-info-circle"></i>
                    Details
                </a>
            </li>
            <li class="tab-map" >
                <a href="#" onclick="return app.tabSelect(this, 'map')">
                    <i class="fa fa-map-marker"></i>
                    Map
                </a>
            </li>
            <li class="tab-rooms">
                <a href="#" onclick="return app.tabSelect(this, 'rooms')" ng-click="getRooms(hotel)">
                    <i class="fa fa-building-o"></i>
                    Rooms
                </a>
            </li>
            <li class="tab-best-rooms">
                <a href="#" onclick="return app.tabSelect(this, 'best-rooms')">
                    <i class="fa fa-star"></i>
                    Best Rooms
                </a>
            </li>
        </ul>
    </div>
    <div class="best-deal">
        <a href="#" onclick="alert('Go to deal');return false">&nbsp;</a>
        <div class="logo">
            <img ng-src="assets/logos/{{hotel.offer.provider}}.gif" alt="{{hotel.offer.provider}}" ng-show="hotel.offer.provider"/>
        </div>
        <div class="high-price">
            {{hotel.offer.max_price | price:currency_symbol:0 }}
        </div>
        <div class="price">
            {{hotel.offer.min_price | price:currency_symbol:0 }}
        </div>
        <div class="btn btn-success">Get Deal</div>
    </div>
    <div class="tabs-content">
        <div class="content tab-details" style="display: none">
            <h4>Property Location</h4>
            <p ng-bind-html="hotel.description"></p>
        </div>
        <div class="content tab-map" style="display: none" data-lat="{{hotel.latitude}}" data-lng="{{hotel.longitude}}" data-show-map="{{hotel.id}}">
            <div>
              <p>
                <strong>{{hotel.getAddress()}}</strong>
              </p>
              <span>{{hotel.getAddress()}}</span>
              <div class="map_container"> 
                <div id="google-hotel-map-{{hotel.id}}" class="gmaps4rails_map" ></div>
              </div>               
            </div>
        </div>
        <div class="content tab-rooms" style="display:none" >
            <div class="loader" ng-show="hotel.rooms.length===0">
                <i class="fa fa-gear fa-spin"></i>
                Finding rooms...
            </div>
            <div class="list" ng-show="hotel.rooms.length" >
                <table class="table table-bordered table-striped">
                    <tbody>
                        <tr ng-repeat="room in hotel.rooms">
                            <td class="logo">
                                <img ng-src="assets/logos/{{room.provider}}.gif" />
                            </td>
                            <td>{{room.description}}</td>
                            <td class="price">{{room.price | price:currency_symbol:0}}</td>
                            <td class="cta">
                                <a href="#" class="btn btn-success" ng-href="{{room.link}}" target="_blank">
                                    Get Deal
                                    <i class="fa fa-caret-right"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="content tab-best-rooms" style="display: none">
            <div class="loader">
                <i class="fa fa-gear fa-spin"></i>
                Finding the best rooms...
            </div>
            <div class="list" style="display: none">
                <table class="table table-bordered table-striped">
                    <tbody>
                        <tr>
                            <td class="logo">
                                <img src="assets/logos/agoda.gif" />
                            </td>
                            <td>1 KING BED/NO SMOKING/FREE HI-SPD WIRELESS/ - SAFE/AM/FM RADIO/CABLE/SATELLITE TV</td>
                            <td class="price">£196</td>
                            <td class="cta">
                                <a href="#" class="btn btn-success">
                                    Get Deal
                                    <i class="fa fa-caret-right"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="logo">
                                <img src="assets/logos/booking.gif" />
                            </td>
                            <td>1 QUEEN BED/SMOKING ROOM/FREE HI-SPD WIRELESS - /SAFE/CABLE/SATELLITE TV</td>
                            <td class="price">£201</td>
                            <td class="cta">
                                <a href="#" class="btn btn-success">
                                    Get Deal
                                    <i class="fa fa-caret-right"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="logo">
                                <img src="assets/logos/expedia.gif" />
                            </td>
                            <td>Queen Room - Non-Smoking</td>
                            <td class="price">£227</td>
                            <td class="cta">
                                <a href="#" class="btn btn-success">
                                    Get Deal
                                    <i class="fa fa-caret-right"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="content tab-all-deals" style="display: none">
            All deals?
        </div>
        <div class="content tab-gallery" style="display: none">
            Gallery
        </div>
    </div>
</section>
               