<div class="content tab-rooms" style="display: none" ng-show="hotel.rooms.length" >
    <div class="loader">
        <i class="fa fa-gear fa-spin"></i>
        Finding rooms...
    </div>
    <div class="list" style="display: none">
        <table class="table table-bordered table-striped">
            <tbody>
                <tr ng-repeat="room in rooms(hotel)">
                    <td class="logo">
                        <img ng-src="assets/logos/{{room.provider}}.gif" />
                    </td>
                    <td>{{room.description}}</td>
                    <td class="price">{{room.price | price:currency_symbol:0}}</td>
                    <td class="cta">
                        <a href="#" class="btn btn-success">
                            Get Deal
                            <i class="fa fa-caret-right"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>