<nav id="preferences">
  <div class="container">
    <div class="pull-left social">
        <a href="https://www.facebook.com/hot5hotels" target="_blank"><i class="fa fa-facebook"></i></a>
        <a href="http://instagram.com/Hot5Hotels" target="_blank"><i class="fa fa-instagram"></i></a>
    </div>
    <div class="dropdown pull-right">
      <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
        <%= currency_flag_icon_by Currency.find_by_currency(currency) %>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" id="currency_list" change-currency>
        <% Currency.codes.each do |code| %>
          <li>
            <%= link_to '#', data: {currency: code[1][0]} do %>
              <%= currency_flag_icon_by code %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>