<table class="table table-bordered table-striped">
  <tbody>
    <tr ng-repeat="room in hotel.rooms">
      <td class="logo">
        <img ng-src=' <%= asset_path "logos/{{room.provider}}.gif" %>' />
      </td>
      <td>{{room.description}}</td>
      <td class="price">{{room.price | price:currency_symbol:0}}</td>
      <td class="cta">
        <a class="btn btn-success" get-deal="{{room.link}}" data-hotel-id="{{hotel.id}}" data-provider="{{room.provider}}" data-price="{{room.price}}" data-saving="{{saving(hotel)}}" data-max-price="{{hotel.offer.max_price}}"  target="_blank">
          See Deal
          <i class="fa fa-caret-right"></i>
        </a>
      </td>
    </tr>
  </tbody>
</table>