<script id="template/typeahead/typeahead-popup.html" type="text/ng-template">
<div class="autocomplete" ng-style="{display: isOpen()&&'block' || 'none', top: position.top+'px', left: position.left+'px'}">
  <ul>
    <li ng-repeat="match in matches" ng-class="{active: isActive($index) }" ng-mouseenter="selectActive($index)" ng-click="selectMatch($index)">
      <typeahead-match index="$index" match="match.label.n" ></typeahead-match>
    </li>
  </ul>
</div>
</script>

<script type="text/ng-template" id="template/typeahead/typeahead-match.html ">
  <a tabindex="-1" >{{match}}</a>
</script>

<header>
  <div class="row">
    <div class="large-4 small-6 columns text-center">
      <img src="assets/masthead/hot5-logo.gif" width="296" height="64" alt="Hot5" />
    </div>
    <div class="large-3 small-4 columns text-center">
      <ul class="social">
        <li class="pinterest"><a href="#"><img src="assets/masthead/pinterest-icon.gif" width="36" height="36" alt="Pinterest" /></a></li>
        <li class="instagram"><a href="#"><img src="assets/masthead/instagram-icon.gif" width="36" height="36" alt="Instagram" /></a></li>
        <li class="facebook"><a href="#"><img src="assets/masthead/facebook-icon.gif" width="36" height="36" alt="Facebook" /></a></li>
      </ul>
    </div>
  </div>
</header>
<section>
  <div class="full-row main-search">
    <div class="row">
      <div class="large-8 small-12 large-offset-2 columns text-center">
        <h1>10 seconds will save you 50% or more on your hotel reservation.</h1>
        <form id="search" ng-controller="SearchCtrl" ng-submit="search()">
          <div class="row">
            <div class="large-12 small-12 columns">
              <!-- <input type="text" id="search" placeholder="Destination or hotel name..." class="search-icon" tabindex="1" /> -->
               <input type="text" id="search" placeholder="Destination" class="search-icon" tabindex="1" ng-model="location" typeahead="city for city in cities($viewValue)" autocomplete="off" typeahead-on-select='citySelect($item, $model, $label)' typeahead-editable="false"/>
               <input type="hidden" ng-model="slug">{{slug}}</input>
            </div>
          </div>
          <div class="row">
            <div class="large-6 small-12 columns">
              <input type="text" id="start_date" placeholder="Check in..." class="date-icon" calendar tabindex="2" ng-model="start_date"/>
            </div>
            <div class="large-6 small-12 columns">
              <input type="text" id="end_date" placeholder="Check out..." class="date-icon" calendar tabindex="3" ng-model="end_date"/>
            </div>
          </div>
          <div class="row">
            <div class="large-6 small-12 large-offset-3 columns">
                <input type="submit" name="searchbutton" id="searchbutton" value="Search" tabindex="4">
              </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="row">
      <div class="large-12 small-12 columns text-center">
        <p>We compare live prices from all the major online travel sites to ensure you get the best deal.</p>
      </div>
    </div>
    <div class="row">
      <ul class="text-center logos">
        <li><img src="assets/logos/booking.gif" width="135" height="52" alt="Booking.com" /></li>
          <li><img src="assets/logos/expedia.gif" width="96" height="52" alt="Expedia.com" /></li>
          <li><img src="assets/logos/agoda.gif" width="80" height="52" alt"Agoda" /></li>
          <li><img src="assets/logos/hotels.gif" width="126" height="52" alt="Hotels.com" /></li>
          <li><img src="assets/logos/laterooms.gif" width="51" height="52" alt="Laterooms.com" /></li>
          <li><img src="assets/logos/lastminute.gif" width="98" height="52" alt="Lastminute.com" /></li>
          <li><img src="assets/logos/splendia.gif" width="73" height="52" alt="Splendia" /></li>
          <li><img src="assets/logos/easytobook.gif" width="134" height="52" alt="Easytobook.com" /></li>
      </ul>
    </div>
</section>
<%= render 'cities' %>