      <header>
            <div class="row">
                <div class="large-3 small-6 columns text-center">
                    <img src="assets/masthead/hot10-logo.gif" width="157" height="64" alt="Hot10" />
                </div>
                <div class="large-3 small-4 columns text-center">
                    <ul class="social">
                        <li class="pinterest"><a href="#"><img src="assets/masthead/pinterest-icon.gif" width="36" height="36" alt="Pinterest" /></a></li>
                        <li class="instagram"><a href="#"><img src="assets/masthead/instagram-icon.gif" width="36" height="36" alt="Instagram" /></a></li>
                        <li class="facebook"><a href="#"><img src="assets/masthead/facebook-icon.gif" width="36" height="36" alt="Facebook" /></a></li>
                    </ul>
                </div>
            </div>
        </header>
        <section>
          <div class="full-row main-search">
              <div class="row">
                  <div class="large-8 small-12 large-offset-2 columns text-center">
                  <h1>10 seconds will save you 50% or more on your hotel reservation.</h1>
                        <form id="search" action="">
                          <div class="row">
                              <div class="large-12 small-12 columns">
                                  <input type="text" id="search" placeholder="Destination or hotel name..." class="search-icon" tabindex="1" />
                                    <div class="autocomplete">
                                      <ul>
                                          <li><a href="#">Country or city</a></li>
                                            <li><a href="#">Country or city</a></li>
                                            <li><a href="#">Country or city</a></li>
                                            <li><a href="#">Country or city</a></li>
                                            <li><a href="#">Country or city</a></li>
                                            <li><a href="#">Country or city</a></li>
                                            <li><a href="#">Country or city</a></li>
                                        </ul>
                                    </div>
                                </div>
                          </div>
                            <div class="row">
                              <div class="large-6 small-12 columns">
                                  <input type="text" id="checkindate" placeholder="Check in..." class="date-icon" tabindex="2" />
                                </div>
                                <div class="large-6 small-12 columns">
                                  <input type="text" id="checkoutdate" placeholder="Check out..." class="date-icon" tabindex="3" />
                                </div>
                            </div>
                            <div class="row">
                              <div class="large-6 small-12 large-offset-3 columns">
                                  <input type="submit" name="searchbutton" id="searchbutton" value="Search" tabindex="4">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <section>
          <div class="row">
              <div class="large-12 small-12 columns text-center">
                  <p>We compare live prices from all the major online travel sites to ensure you get the best deal.</p>
                </div>
            </div>
            <div class="row">
              <ul class="text-center logos">
                  <li><img src="assets/logos/booking.gif" width="135" height="52" alt="Booking.com" /></li>
                    <li><img src="assets/logos/expedia.gif" width="96" height="52" alt="Expedia.com" /></li>
                    <li><img src="assets/logos/agoda.gif" width="80" height="52" alt"Agoda" /></li>
                    <li><img src="assets/logos/hotels.gif" width="126" height="52" alt="Hotels.com" /></li>
                    <li><img src="assets/logos/laterooms.gif" width="51" height="52" alt="Laterooms.com" /></li>
                    <li><img src="assets/logos/lastminute.gif" width="98" height="52" alt="Lastminute.com" /></li>
                    <li><img src="assets/logos/splendia.gif" width="73" height="52" alt="Splendia" /></li>
                    <li><img src="assets/logos/easytobook.gif" width="134" height="52" alt="Easytobook.com" /></li>
                </ul>
            </div>
        </section>
        <section>
          <div class="row">
              <div class="large-12 small-12 columns text-center">
                  <h2>Popular destinations</h2>
                </div>
                <div class="large-12 small-12 columns">
                  <div class="locations-list">
                      <div class="large-2 small-6 large-offset-1 columns">
                          <p>North America</p>
                            <ul id="location-nav1">
                              <li><a href="#">Country 1</a></li>
                                <li><a href="#">Country 2</a></li>
                                <li><a href="#">Country 3</a></li>
                                <li><a href="#">Country 4</a></li>
                                <li><a href="#">Country 5</a></li>
                                <li><a href="#">Country 6</a></li>
                                <li><a href="#">Country 7</a></li>
                                <li><a href="#">Country 8</a></li>
                                <li><a href="#">Country 9</a></li>
                                <li><a href="#">Country 10</a></li>
                                <li><a href="#">Country 1</a></li>
                                <li><a href="#">Country 2</a></li>
                                <li><a href="#">Country 3</a></li>
                                <li><a href="#">Country 4</a></li>
                                <li><a href="#">Country 5</a></li>
                                <li><a href="#">Country 6</a></li>
                                <li><a href="#">Country 7</a></li>
                                <li><a href="#">Country 8</a></li>
                                <li><a href="#">Country 9</a></li>
                                <li><a href="#">Country 10</a></li>
                            </ul>
                        </div>
                        <div class="large-2 small-6 columns">
                          <p>South America</p>
                            <ul id="location-nav2">
                              <li><a href="#">Country 1</a></li>
                                <li><a href="#">Country 2</a></li>
                                <li><a href="#">Country 3</a></li>
                                <li><a href="#">Country 4</a></li>
                                <li><a href="#">Country 5</a></li>
                                <li><a href="#">Country 6</a></li>
                                <li><a href="#">Country 7</a></li>
                                <li><a href="#">Country 8</a></li>
                                <li><a href="#">Country 9</a></li>
                                <li><a href="#">Country 10</a></li>
                                <li><a href="#">Country 1</a></li>
                                <li><a href="#">Country 2</a></li>
                                <li><a href="#">Country 3</a></li>
                                <li><a href="#">Country 4</a></li>
                                <li><a href="#">Country 5</a></li>
                                <li><a href="#">Country 6</a></li>
                                <li><a href="#">Country 7</a></li>
                                <li><a href="#">Country 8</a></li>
                                <li><a href="#">Country 9</a></li>
                                <li><a href="#">Country 10</a></li>
                            </ul>
                        </div>
                        <div class="large-2 small-6 columns">
                          <p>Europe</p>
                            <ul id="location-nav3">
                              <li><a href="#">Country 1</a></li>
                                <li><a href="#">Country 2</a></li>
                                <li><a href="#">Country 3</a></li>
                                <li><a href="#">Country 4</a></li>
                                <li><a href="#">Country 5</a></li>
                                <li><a href="#">Country 6</a></li>
                                <li><a href="#">Country 7</a></li>
                                <li><a href="#">Country 8</a></li>
                                <li><a href="#">Country 9</a></li>
                                <li><a href="#">Country 10</a></li>
                                <li><a href="#">Country 1</a></li>
                                <li><a href="#">Country 2</a></li>
                                <li><a href="#">Country 3</a></li>
                                <li><a href="#">Country 4</a></li>
                                <li><a href="#">Country 5</a></li>
                                <li><a href="#">Country 6</a></li>
                                <li><a href="#">Country 7</a></li>
                                <li><a href="#">Country 8</a></li>
                                <li><a href="#">Country 9</a></li>
                                <li><a href="#">Country 10</a></li>
                            </ul>
                        </div>
                        <div class="large-2 small-6 columns">
                          <p>Middle East/Africa</p>
                            <ul id="location-nav4">
                              <li><a href="#">Country 1</a></li>
                                <li><a href="#">Country 2</a></li>
                                <li><a href="#">Country 3</a></li>
                                <li><a href="#">Country 4</a></li>
                                <li><a href="#">Country 5</a></li>
                                <li><a href="#">Country 6</a></li>
                                <li><a href="#">Country 7</a></li>
                                <li><a href="#">Country 8</a></li>
                                <li><a href="#">Country 9</a></li>
                                <li><a href="#">Country 10</a></li>
                                <li><a href="#">Country 1</a></li>
                                <li><a href="#">Country 2</a></li>
                                <li><a href="#">Country 3</a></li>
                                <li><a href="#">Country 4</a></li>
                                <li><a href="#">Country 5</a></li>
                                <li><a href="#">Country 6</a></li>
                                <li><a href="#">Country 7</a></li>
                                <li><a href="#">Country 8</a></li>
                                <li><a href="#">Country 9</a></li>
                                <li><a href="#">Country 10</a></li>
                            </ul>
                        </div>
                        <div class="large-3 small-6 end columns">
                          <p>Asia/Pacific</p>
                            <ul id="location-nav5">
                              <li><a href="#">Country 1</a></li>
                                <li><a href="#">Country 2</a></li>
                                <li><a href="#">Country 3</a></li>
                                <li><a href="#">Country 4</a></li>
                                <li><a href="#">Country 5</a></li>
                                <li><a href="#">Country 6</a></li>
                                <li><a href="#">Country 7</a></li>
                                <li><a href="#">Country 8</a></li>
                                <li><a href="#">Country 9</a></li>
                                <li><a href="#">Country 10</a></li>
                                <li><a href="#">Country 1</a></li>
                                <li><a href="#">Country 2</a></li>
                                <li><a href="#">Country 3</a></li>
                                <li><a href="#">Country 4</a></li>
                                <li><a href="#">Country 5</a></li>
                                <li><a href="#">Country 6</a></li>
                                <li><a href="#">Country 7</a></li>
                                <li><a href="#">Country 8</a></li>
                                <li><a href="#">Country 9</a></li>
                                <li><a href="#">Country 10</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="locations-select">
                        <select>
                            <optgroup label="North America">
                                <option value="123">New York</option>
                                <option value="445">Seattle</option>
                            </optgroup>
                            <optgroup label="Europe">
                                <option value="890">London</option>
                                <option value="10101">Barcelona</option>
                            </optgroup>
                        </select>
                    </div>
                </div>
            </div>
        </section>