
<div class="container">
  <div class="row details">
    <div class="col-md-12">
      <h1>Privacy Policy</h1>
      <div id="main-text">
        <h3>Details</h3>
        <hr width="100%">
        <p>
          At Hot5 we pride ourselves on complying with all current standards and legislation relating to your data and privacy.
          The sections below outline exactly how we do this and explain the reasons for any data that we keep regarding your visits and usage of our service.
        </p>

        <h3>Privacy and Storage – General Information</h3>
        <hr width="100%">
        <p>
          We collect data so that we can provide the best, fastest, most relevant and cost effective travel solution for you.</p>
         <strong>What data do we collect from your visit?</strong>
         <dl>
          <dt>Contact</dt>
          <dd>
            You can speak to your team by using the “Contact Us” option. In order to respond to you, we will use the email address and any other personal data that you provide. We will keep the info on file for our own records. We collect this information to provide us with the opportunity to respond and serve you in the most timely fashion.
          </dd>
        </dl>

        <h3>IP and visit data</h3>
        <hr width="100%">
        <p>
          When you visit hot5, we may collect your IP address, location and time of visit. Identifying a single person using this data is not possible. This data is only used to prevent errors as and improve the service we provide to you.
        </p>
        <dl>
          <dt>Search Results</dt>
          <dd>
            We may, from time to time, save data from your search queries and / or the filtered results that we provide to you. This is done in order to allow us to provide specific, relevant travel recommendations on future visits to our site and partner sites. <br/>
          </dd>
          <dt>My Location Search</dt>
          <dd>
            If you allow us to access the GPS data on your device, this GPS data can be used to pinpoint your exact location and to show you the hotels closest to you. You can deny access to GPS data by amending your settings on your device. In most cases this is browser dependent.
          </dd>
          <dt>App</dt>
          <dd>
            Installation of use of our app, means we may collect information about your mobile device with which you use to visit the site. This information is collected in the form of a UDID (unique device identifier). This code is unique to yours and yours alone mobile device. We may also collect further information such as IP, your operating system and browser for usage analytics. 
          </dd>
        </dl>

        <h3>Your Data</h3>
        <hr width="100%">
        <p>
          In some special cases, all or part of your data may be passed on to relevant authorities, based on their direct request.
        </p>
        <p>
          In some cases, disclosure to national and international authorities and/or courts due to prior administrative or judicial order is required by law. In these cases, the transfer is made in compliance with the legal requirements and only if the disclosure is deemed necessary.
        </p>
        <p>
          There is no further transfer to third parties.
        </p>

        <h3>Cookies</h3>
        <hr width="100%">
        <p>
           Hot5 uses a piece of technology known as “cookies”. Cookies are small, harmless text files that are saved on a user’s device when using websites on the internet.
        </p>
        <p>
          It is possible for you to refuse the use of cookies by blocking installation via your browser settings. The specific process is dependant on the browser and version that your device uses.
        </p>
      </div>
    </div>
  </div>
</div>
