#redirect {
  font-size: 18px;
  padding-top: 40px;
}
#redirect .message {
  padding-top: 70px;
  background-image: url(../assets/redirect-loader.gif);
  background-repeat: no-repeat;
  background-position: center top;
  text-align: center;
}
#redirect .logo {
  margin-bottom: 10px;
  text-align: center;
}
#hotel {
  border: 2px solid #eb9100;
  border-left: none;
  border-right: none;
  width: 70%;
  margin: 0 auto;
}
#hotel section {
  position: relative;
}
#hotel section:before,
#hotel section:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
#hotel section:after {
  clear: both;
}
#hotel section h4 a {
  color: #555555;
}
#hotel section .summary {
  padding-top: 12px;
  color: #666;
}
#hotel section .image {
  float: left;
  height: 138px;
  width: 138px;
  position: relative;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
#hotel section .image .savings {
  background-color: #00d300;
  color: #fff;
  font-family: 'ITCLubalinGraphW01-Md', Georgia, "Times New Roman", Times, serif;
  position: absolute;
  left: 5px;
  bottom: 5px;
  text-align: center;
  padding: 13px 4px;
  width: 58px;
  border-radius: 50%;
  line-height: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#hotel section .details {
  position: relative;
  margin-left: 138px;
  margin-right: 140px;
  height: 138px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px;
}
#hotel section .details h4 {
  margin-top: 0;
  margin-bottom: 3px;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  margin-right: 140px;
}
#hotel section .details .location {
  color: #999999;
  font-family: 'ITCLubalinGraphW01-Md', Georgia, "Times New Roman", Times, serif;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
#hotel section .details .location i {
  color: #00b200;
}
#hotel section .details .stars {
  color: #ff9c00;
  position: absolute;
  top: 4px;
  right: 10px;
  font-size: 20px;
}
#hotel section .best-deal {
  position: absolute;
  border-left: 1px solid #ccc;
  right: 0;
  top: 0;
  height: 138px;
  width: 140px;
  font-family: 'ITCLubalinGraphW01-Md', Georgia, "Times New Roman", Times, serif;
}
#hotel section .best-deal a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-decoration: none;
}
#hotel section .best-deal .logo {
  height: 35px;
  border-bottom: 1px solid #ccc;
  text-align: center;
}
#hotel section .best-deal .logo img {
  width: auto;
  height: 34px;
}
#hotel section .best-deal .high-price {
  margin-top: 35px;
  display: block;
  height: 21px;
  text-decoration: line-through;
  text-align: center;
  color: #00a4ff;
  font-size: 15px;
}
#hotel section .best-deal .price {
  text-align: center;
  color: #eb9100;
  font-size: 32px;
}
@media (max-width: 992px) {
  #redirect {
    padding: 20px 0 0 0;
  }
  #hotel {
    width: auto;
  }
  #hotel section .details {
    margin-left: 0;
    margin-right: 100px;
  }
  #hotel section .details h4 {
    font-size: 16px;
    margin-right: 90px;
  }
  #hotel section .details .stars {
    font-size: 14px;
  }
  #hotel section .image {
    display: none;
  }
  #hotel section .location {
    font-size: 13px;
  }
  #hotel section .summary {
    font-size: 16px;
  }
  #hotel section .best-deal {
    width: 100px;
  }
}