#home-search {
  background-image: url(../assets/home/cityscape.jpg);
  background-position: top center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  padding: 40px 0;
  margin-bottom: 15px;
}
#home-search h1 {
  color: #fff;
  text-align: center;
  background-image: url(../assets/home/underline.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  font-size: 19px;
  padding-bottom: 30px;
  margin-bottom: 60px;
  margin-left: 10px;
  margin-right: 10px;
}
#home-search .row {
  margin-bottom: 24px;
}
#home-search input[type=text] {
  font-size: 24px;
  height: auto;
}
#home-search #search .input-group-btn button {
  height: 48px !important; 
}
#home-search button.search {
  font-family: 'ITCLubalinGraphW01-Md', Georgia, "Times New Roman", Times, serif;
  font-size: 22px;
  padding-left: 36px;
  padding-right: 36px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.logos {
  text-align: center;
}
.logos ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.logos ul li {
  display: inline-block;
  margin: 0 10px;
}
.popular-destinations {
  background-image: url(../assets/content/map-bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  margin-bottom: 20px;
}
.popular-destinations h5 {
  color: #eb9100;
}
.popular-destinations ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.popular-destinations ul li {
  font-size: 12px;
}
.popular-destinations ul li a {
  color: #999999;
}
@media (max-width: 768px) {
  #home-search {
    padding: 0;
  }
  #home-search h1 {
    margin-bottom: 16px;
  }
  #home-search .row {
    margin-bottom: 14px;
  }
  #home-search input[type=text] {
    font-size: 16px;
    padding: 10px;
  }
  #home-search button.search {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .logos ul li {
    width: 20%;
  }
  .logos ul li img {
    max-width: 100%;
    width: auto;
    height: auto;
  }
}
@media (max-width: 768px) {
  .popular-destinations div:last-child {
    width: 100%;
  }
}
