

.hotel_info.active {
height: 380px;
}
.hotel_info {
height: 0px;
font-size: 13px;
line-height: normal;
position: relative;
overflow: hidden;
-webkit-transition: height 0.2s linear;
transition: height 0.2s linear;
}

.hotel_info_image {
margin-bottom: 20px;
overflow: hidden;
}

.hotel .hotel_info_image .img {
background-size: cover;
display: block;
background-repeat: no-repeat;
height: 210px;
margin: 0 auto;
cursor: default;
width: 350px;
}

.img_overlay:hover:after {
  background-image: url(sprite-icons@2x.png);
  background-size: 2200px auto;
  background-position: -2110px 0;
  content: '';
  height: 40px;
  margin-left: -20px;
  margin-top: -20px;
  left: 50%;
  pointer-events: none;
  position: absolute;
  top: 50%;
  width: 40px;
  z-index: 999;
}
.hotel_info_close {
bottom: 0;
clear: both;
position: absolute;
width: 100%;
}
.img {
cursor: pointer;
display: block;
height: 138px;
width: 138px;
}

.hotel_info_thumbs {
border-top: 1px solid #e6e9ea;
padding-top: 20px;
}

.hotel_info.active .hotel_info_content {
display: block;
}
.hotel_info_images .hotel_info_content {
overflow: hidden;
}
.hotel_info_content {
border-top: 1px solid #e6e9ea;
display: none;
height: 340px;
overflow: auto;
padding: 20px;
}
 .hotel_info_thumbs img:hover {
opacity: 0.5;
}
.hotel .hotel_info_thumbs .img {
display: inline;
cursor: pointer;
height: 50px;
margin: 0 10px 0 0;
vertical-align: bottom;
width: 50px;
}

.btn:not(.disabled).outline_dark:hover, button:not(.disabled).outline_dark:hover {
background-color: #600000;
background-color: rgba(0, 51, 51, 0.04);
}
.hotel_info_close .btn.outline_dark {
border-bottom: none;
border-left: none;
border-right: none;
}
.btn:not(.disabled):hover, button:not(.disabled):hover {
background-color: #FE3026;
}
.btn.outline_dark, button.outline_dark {
background: none;
color: #183446;
border: 1px solid #600000;
border: 1px solid rgba(0, 51, 51, 0.3);
}
.btn, button {
background-color: #FE5048;
border: 1px solid #FE0F04;
border-radius: 1px;
color: #fff;
cursor: pointer;
display: block;
font-family: 'Open Sans', sans-serif;
font-size: 14px;
line-height: 40px;
height: 40px;
margin: 0;
padding: 0;
text-align: center;
width: 100%;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

.hotel_info_close .btn.outline_dark:before {
background-image: url(sprite-icons@2x.png);
background-size: 2200px auto;
background-position: -430px -120px;
content: '';
display: inline-block;
height: 8px;
margin-right: 5px;
width: 10px;
}
