h3 {
  color: #555555;
}
#wrapper > header #logo {
  display: block;
  background-image: url(masthead/hot5-logo.gif);
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  width: 296px;
  height: 64px;
  margin-top: 10px;
  margin-bottom: 10px;
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
#wrapper #search input[readonly] {
  cursor: pointer;
}
#wrapper .place .autocomplete {
  position: relative;
}
#wrapper .place .autocomplete .results {
  position: absolute;
  width: 100%;
  z-index: 4;
  background-color: #fff;
  padding: 6px;
  border: 1px solid #ccc;
}
#wrapper .place .autocomplete .results .panel {
  margin-bottom: 4px;
}
#wrapper .place .autocomplete .results .panel:last-child {
  margin-bottom: 0;
}
#wrapper .place .autocomplete .results .panel .panel-heading {
  font-size: 14px;
  font-weight: bold;
}
#wrapper .place .autocomplete .results .list-group {
  margin-bottom: 0;
}
#wrapper .place .autocomplete .results .list-group .list-group-item {
  cursor: pointer;
}
#wrapper .place .autocomplete .results .list-group .list-group-item:hover {
  background-color: #eb9100;
  color: #fff;
  border-color: #c57900;
}
#wrapper > footer {
  background-color: #eb9100;
  padding: 10px 0;
  color: #fff;
}
#wrapper > footer .menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
#wrapper > footer .menu li {
  display: inline-block;
  margin-right: 10px;
}
#wrapper > footer .menu li a {
  color: #fff;
}
#wrapper > footer .copyright {
  text-align: right;
}
@media (min-width: 992px) {
  #wrapper .place .autocomplete {
    position: relative;
  }
  #wrapper .place .autocomplete .results {
    position: absolute;
    z-index: 4;
    width: 100%;
    overflow-y: auto;
    max-height: 300px;
  }
  #wrapper > footer {
    padding: 40px 0;
  }
}
@media (max-width: 768px) {
  #wrapper > header #logo {
    margin: 4px auto;
    width: 197.33333333333334px;
    height: 42.666666666666664px;
  }
  #wrapper #search .dates .col .input-group {
    width: 100%;
  }
  #wrapper #search .dates .col:first-child {
    padding-right: 5px;
  }
  #wrapper #search .dates .col:last-child {
    padding-left: 5px;
  }
  #wrapper .input-group-addon.addon-hidden-sm {
    display: none;
  }
  #wrapper > footer {
    font-size: 10px;
  }
  #wrapper > footer .menu {
    margin-bottom: 10px;
    text-align: center;
  }
  #wrapper > footer .copyright {
    text-align: center;
  }
}
