<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <ul class="menu">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Terms and Conditions</a></li>
                    <li><a href="/privacy_policy" target="_self">Privay Policy</a></li>
                </ul>
            </div>
            <div class="col-md-3 copyright">
                &copy; 2013 Hot5.com
            </div>
        </div>
    </div>
</footer>