<footer>
  <div class="row">
      <div class="large-6 small-12 columns text-center">
          <ul>
              <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Terms and Conditions</a></li>
            </ul>
        </div>
        <div class="large-6 small-12 columns text-center">
          <p>&copy; 2013 Hot10.com</p>
        </div>
    </div>
</footer>